<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>SearchRoomServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.SearchRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.ReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.ViewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReserveListServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.ViewReserveListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutCustServlet</servlet-name>
        <servlet-class>abc_hotel_pkg.CheckOutCustServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRoomServlet</servlet-name>
        <url-pattern>/SearchRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomServlet</servlet-name>
        <url-pattern>/ViewRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReserveListServlet</servlet-name>
        <url-pattern>/ViewReserveListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutCustServlet</servlet-name>
        <url-pattern>/CheckOutCustServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
