<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>library_system_pkg.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>library_system_pkg.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResourceServlet</servlet-name>
        <servlet-class>library_system_pkg.SearchResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateResourceServlet</servlet-name>
        <servlet-class>library_system_pkg.AllocateResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateResourceServlet2</servlet-name>
        <servlet-class>library_system_pkg.AllocateResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateReaource</servlet-name>
        <servlet-class>library_system_pkg.AllocateReaource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateResource</servlet-name>
        <servlet-class>library_system_pkg.AllocateResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStatusServlet</servlet-name>
        <servlet-class>library_system_pkg.ViewStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRecordsServlet</servlet-name>
        <servlet-class>library_system_pkg.CheckRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnResourceServlet</servlet-name>
        <servlet-class>library_system_pkg.ReturnResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnResourceServlet</servlet-name>
        <url-pattern>/ReturnResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/ResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResourceServlet</servlet-name>
        <url-pattern>/SearchResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateResourceServlet</servlet-name>
        <url-pattern>/AllocateResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateResourceServlet2</servlet-name>
        <url-pattern>/AllocateResourceServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateReaource</servlet-name>
        <url-pattern>/AllocateReaource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateResource</servlet-name>
        <url-pattern>/AllocateResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStatusServlet</servlet-name>
        <url-pattern>/ViewStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRecordsServlet</servlet-name>
        <url-pattern>/CheckRecordsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
