<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dipendughosh.registrationform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" />
        <activity
            android:name=".AdditionActivity"
            android:label="Addition" />
        <activity
            android:name=".SignUpActivity"
            android:label="SignUpActivity" />
        <activity
            android:name=".ShowDataActivity"
            android:label="ShowDataActivity" />
        <activity
            android:name=".VisibilityActivity"
            android:label="VisibilityActivity" />
        <activity
            android:name=".SeekBarActivity"
            android:label="SeekBarActivity" />
        <activity
            android:name=".RatingBarActivity"
            android:label="RatingBarActivity" />
        <activity
            android:name=".WebViewActivity"
            android:label="WebViewActivity" />
        <activity
            android:name=".AlertActivity"
            android:label="AlertActivity" />
        <activity
            android:name=".LogInActivity"
            android:label="LogInActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="MenuActivity" />
        <activity
            android:name=".ListViewActivity"
            android:label="ListViewActivity">
        </activity>
        <activity
            android:name=".ListViewImageActivity"
            android:label="ListViewImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageListActivity"
            android:label="ImageListActivity">
        </activity>
    </application>

</manifest>