<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SearchRoomServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.SearchRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.ReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.ViewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRESERVElistServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.ViewRESERVElistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>ABC_hotel_pkg.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRoomServlet</servlet-name>
        <url-pattern>/SearchRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomServlet</servlet-name>
        <url-pattern>/ViewRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRESERVElistServlet</servlet-name>
        <url-pattern>/ViewRESERVElistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
